<p id="notice"><%= notice %></p>

<h1>Listing Movements</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Position</th>
      <th>Item</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.document_short %></td>
        <td><%= movement.position_name %></td>
        <td><%= movement.item_serial %></td>
        <td><%= movement.amount_non_serial %></td>
        <td><%= link_to 'Show', movement %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movement', new_movement_path %>
