<h1>Заглавная страница</h1>
<p><%= link_to 'Позиции', positions_path %></p>
<p><%= link_to 'Серийные предметы', items_path %></p>
<p><%= link_to 'МОЛы', people_path %></p>
<p><%= link_to 'Документы', documents_path %></p>
<p><%= link_to 'Проводки', movements_path %></p>
