<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% pos_array = Position.all.select { |position| position.serial } %>
  <% pos_array = pos_array.map { |position| [position.name, position.id] } %>

  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.select :position_id, options_for_select(pos_array) %>
    <%= link_to 'Добавить позицию', new_position_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
