<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @item.serial %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item.comment %>
</p>

<p>
  <strong>Position:</strong>
  <%= @item.position_name %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
